[databases]
postgres = host=127.0.0.1 port=5432 dbname=postgres
{{ db_name }} = host=127.0.0.1 port=5432 dbname={{ db_name }}
[pgbouncer]
logfile = /var/log/postgresql/pgbouncer.log
pidfile = /var/run/postgresql/pgbouncer.pid
listen_addr = *
listen_port = 6432
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
admin_users = postgres
pool_mode = session
