scope: {{ patroni_cluster_name }}
namespace: /{{ patroni_namespace }}
name: {{ ansible_host }}


restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008
  auth: 'username:123'

etcd:
  hosts: {% for host in groups['cluster'] %}{{ hostvars[host]['inventory_hostname'] }}:2379{% if not loop.last %},{% endif %}{% endfor %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    maximum_lag_on_failover: 1048576 # 1 megabyte in bytes
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        max_wal_senders: 10
        wal_keep_segments: 8
        max_replication_slots: 5
        hot_standby: "on"
        wal_log_hints: "on"
  initdb:
  - encoding: UTF8
  - data-checksums
  pg_hba:  # Add following lines to pg_hba.conf after running 'initdb'
  - host replication replicator 192.168.0.54/24 md5
  - host replication replicator 192.168.0.55/24 md5
  - host replication replicator 192.168.0.56/24 md5
  - host all all 0.0.0.0/0 md5
  users:
    superuser:
      password: 123
      options:
        - createrole
        - createdb
    replicator:
      password: 123
      options:
        - replication

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_default_ipv4.address }}:5432
  config_dir: /etc/postgresql/15/main
  data_dir: /var/lib/postgresql/15/main
  bin_dir: /usr/lib/postgresql/15/bin
  pg_rewind:
    username: superuser
    password: 123
  pg_hba:
    - host all all 0.0.0.0/0 md5
    - hostssl all all 0.0.0.0/0 md5
  authentication:
    replication:
      username: replicator
      password: 123
    superuser:
      username: superuser
      password: 123
